<div *ngIf="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>
  
  <div class="user-details-container" *ngIf="user">
    <div class="user-details">
      <h3>Author Details</h3>
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
      <p><strong>Phone:</strong> {{ user.phone }}</p>
      <p><strong>Website:</strong> <a href="http://{{ user.website }}" target="_blank">{{ user.website }}</a></p>
    </div>
    
    <div class="address">
      <h4>Address</h4>
      <p>{{ user.address?.street }}, {{ user.address?.suite }}</p>
      <p>{{ user.address?.city }}, {{ user.address?.zipcode }}</p>
    </div>
  
    <div class="company">
      <h4>Company</h4>
      <p><strong>Name:</strong> {{ user.company?.name }}</p>
      <p><strong>CatchPhrase:</strong> {{ user.company?.catchPhrase }}</p>
      <p><strong>BS:</strong> {{ user.company?.bs }}</p>
    </div>
  </div>
  
  <div *ngIf="comments.length">
    <h3>Comments</h3>
    <ul>
      <li *ngFor="let comment of comments">
        <p><strong>{{ comment.name }}</strong></p>
        <p>{{ comment.body }}</p>
      </li>
    </ul>
  </div>
  